body{
    background-image: url(backgroundimage.png);
    background-size: cover;
}

img{
    width: 50%;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
